$primary-color:    #FFF;

$primary-color: #FFF;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: $primary-color;
  color: #FFF;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  min-height: 100vh; // Garante que o body tenha no mínimo a altura da tela
  overflow-y: auto;  // Permite rolagem para baixo
  overflow-x: hidden; // Impede rolagem lateral
}

